<div *ngIf="pet">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/browse">Pets</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ pet.id }}</li>
    </ol>
  </nav>
  <mat-card class="pet-card">
    <div class="card-container">
      <!-- Left Section -->
      <div class="left-section">
        <div class="image-canvas">
          <img [src]="pet.imageUrl" [alt]="pet.name" />
        </div>
      </div>
      <div class="right-section">
        <mat-list>
          <mat-list-item>
            <strong>Name:</strong> {{ pet.name }}
          </mat-list-item>
          <mat-list-item>
            <strong>Description:</strong> {{ pet.description }}
          </mat-list-item>
          <mat-list-item>
            <strong>Age:</strong> {{ pet.age }}
          </mat-list-item>
          <mat-list-item>
            <strong>Breed:</strong> {{ pet.breed }}
          </mat-list-item>
          <mat-list-item>
            <strong>Price:</strong> {{ pet.price }} EUR
          </mat-list-item>
        </mat-list>
        <div class="button-group">
          <button mat-stroked-button routerLink="/">
            <mat-icon>home</mat-icon> Home
          </button>
          <button mat-stroked-button color="primary" (click)="addToCart(pet)">
            <mat-icon>shopping_cart</mat-icon> ADD TO CART
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
