/* Breadcrumb Links */
nav a {
  color: #4f46e5;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Image Container */
.image-canvas {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
}

.image-canvas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Buttons */
.button-group button {
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

button.mat-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e5e7eb;
  font-size: 0.875rem;
}

mat-list-item:last-child {
  border-bottom: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .button-group {
    flex-direction: column;
  }
}


.home-button {
  transition: transform 0.2s, background-color 0.2s;
  background-color: #4f46e5;
  color: white;
  width: 125px;
}
.home-button:hover {
  transform: scale(1.05);
  background-color: white;
  color: #4f46e5;
}
.cart-button {
  transition: transform 0.2s, background-color 0.2s;
  background-color: #54a848;
  color: white;
  width: 125px;
}
.cart-button:hover {
  transform: scale(1.05);
  background-color: white;
  color: #54a848;
}

svg {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
