/* Navbar styling */
.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #a2d9ff;*/
  color: #101129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem; /* Thinner header */
  z-index: 100;
  background-color: #f9f9ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar button {
  background: none; /* Remove button backgrounds */
  border: none;
  color: #282a65;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar button:hover {
  color: #6366f1;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .navbar button {
    padding: 0.3rem 0.6rem; /* Adjust button padding for smaller screens */
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #4f46e5, #6366f1, #4f46e5);
  /*background-color: #4f46e5;*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #dadada;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mat-mdc-menu-content {
  padding: 0 0 !important;
}

/*.mat-mdc-menu-item {*/
/*  color: #f1f5f9;*/
/*  background-color: #6366f1;*/
/*}*/
/*.mat-mdc-menu-item:hover {*/
/*  color: #6366f1;*/
/*  background-color: #ffffff;*/
/*}*/
