<div class="container">
  <div class="header-content">
    <!-- Overlay Sidenav -->
    <div id="mySidenav" class="sidenav bg-gray-900 text-white">
      <button class="closebtn text-white" aria-label="Close menu" (click)="closeNav()">&times;</button>
      <a routerLink="/" class="hover:text-gray-300">Home</a>
      <a routerLink="/browse" class="hover:text-gray-300">Browse</a>
      <a routerLink="/about" class="hover:text-gray-300">About</a>
      <a routerLink="/cart" class="hover:text-gray-300 flex items-center gap-2">
<!--        <mat-icon>shopping_cart</mat-icon> Cart--> Cart
      </a>
      <a>
        <button [matMenuTriggerFor]="menu" *ngIf="googleProfile() as googleProfile">
        {{ googleProfile.name }}
       </button>
      </a>
      <a>
        <button [matMenuTriggerFor]="menu" *ngIf="userProfile">
        {{ userProfile.firstName }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user/dashboard">Profile</button>
          <button mat-menu-item (click)="logOut()">Logout</button>
        </mat-menu>
      </a>
      <a><button *ngIf="!googleProfile() && !userProfile" routerLink="/user/login">Login</button></a>
    </div>

    <mat-toolbar class="navbar">
      <button mat-icon-button (click)="openNav()" aria-label="Open menu">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex items-center space-x-2">
        <button routerLink="/" class="navbar-brand font-bold text-lg">
          Navissos Pet Shop
        </button>
      </div>
      <ul class="hidden md:flex space-x-4">
        <li><button routerLink="/">Home</button></li>
        <li><button routerLink="/browse">Browse</button></li>
        <li><button routerLink="/about">About</button></li>
        <li><button mat-flat-button><app-theme-toggle></app-theme-toggle></button>
        <li><button mat-flat-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon></button></li>
        <li>
          <button [matMenuTriggerFor]="menu" *ngIf="googleProfile() as googleProfile">
            {{ googleProfile.name }}
          </button>
          <button mat-flat-button [matMenuTriggerFor]="menu" *ngIf="userProfile">
            {{ userProfile.firstName }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/user/dashboard">Profile</button>
            <button mat-menu-item (click)="logOut()">Logout</button>
          </mat-menu>
        </li>
        <li><button *ngIf="!googleProfile() && !userProfile" routerLink="/user/login">Login</button></li>
      </ul>
    </mat-toolbar>
  </div>
</div>
