.navbar {
  color: #F2F2F2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
* {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
  margin: 0; padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}


.navbar a {
  color: #9BBF65 !important;
  text-align: right;
}

.navbar-brand {
  font-weight: bold;
  color: #9BBF65;
  font-size: 2rem;
}
.navbar-brand i {
  color: #9BBF65;
  margin-right: 0.5rem;
}


