svg {
  position: absolute;
  margin: 0; padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

.navbar-brand {
  font-weight: bold;
  background-color:#048ABF !important;
  color: #F2F2F2 !important;
  font-size: 2rem;
}
.navbar-brand i {
  color: #F2F2F2 !important;
  background-color:#048ABF !important;
  margin-right: 0.5rem;
}
.navbar {
  background-color: #048ABF;
  color: #F2F2F2;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky !important;
  list-style: none;
  z-index: 10;
  box-shadow: none;
}
.navbar button {
  color: #F2F2F2 !important;
  text-align: center;
  padding: 14px 16px;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0; padding: 0;
}
.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}
/*.navbar .navbar-brand i {*/
/*  margin-right: 1rem;*/
/*  font-size: 2rem;*/
/*}*/

/* Adjust for Responsive View */
@media (max-width: 1000px) {
  .navbar ul {
    display: none;
  }
  .navbar {
    justify-content: space-between;
  }
}

/* Sidenav */
mat-sidenav {
  height: 100vh;
  background-color: #048ABF !important;
  color: #F2F2F2 !important;
  position: fixed;
  top: 0; left: 0;
  width: 200px;
  overflow: hidden;
}
/*mat-sidenav .mat-drawer-inner-container {*/
/*  overflow-y: auto;*/
/*  height: 100%;*/
/*}*/
mat-sidenav-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
mat-sidenav button {
  background: none;
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-weight: bold;
  color: #F2F2F2 !important;
}
.mat-mdc-menu-panel {
  background-color: #048ABF;
}
.mat-mdc-menu-item {
  color: #F2F2F2;
}
