.svg-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.svg-top {
  width: 200%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn-primary {
  background-color: #6366f1;
  color: white;
}

.btn-primary:hover {
  background-color: #4f46e5;
}
