<div class="login-container">
  <h3>Login</h3>
  <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="loginData.email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="loginData.password" required />
    </mat-form-field>

    <button mat-flat-button type="submit">Login</button>
  </form>

  <div class="divide-x-reverse">
    <span>OR</span>
  </div>

  <div><button mat-raised-button (click)="signInWithGoogle()">
    <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
         alt="Google"
         class="h-10 justify-center"/>Sign in with Google</button>
  </div>
</div>
