<div class="cart">
<h3>Your Shopping Cart</h3>
<div *ngIf="items.length > 0; else emptyCart">
  <table class="cart-table">
    <thead>
    <tr>
      <th>Pet Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="cart-item" *ngFor="let item of items; let i = index">
      <td>{{ item.name }}</td>
      <td>{{ item.price.toFixed(2) }} EUR</td>
      <td>
        <button (click)="removeItem(i)" class="btn btn-remove">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="cart-summary">
    <span>Total: {{ getTotalPrice().toFixed(2) }} EUR</span>
    <button (click)="clearCart()" class="btn btn-clear">Clear Cart</button>
  </div>
  <p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>
</div>

<ng-template #emptyCart>
  <p>Your cart is empty. Add some items to get started!</p>
</ng-template>
</div>
