<div class="cart" @fadeIn>
  <svg class="top-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#4F46E5" d="M27.1,-33.1C42.6,-19.3,67.8,-17.9,79.3,-6.1C90.7,5.6,88.4,27.7,77.5,43.1C66.7,58.6,47.3,67.6,31.8,62.3C16.4,57,4.9,37.4,-7,28.9C-19,20.4,-31.5,22.9,-39.8,18.3C-48.1,13.6,-52.2,1.8,-53.5,-12.7C-54.8,-27.2,-53.3,-44.5,-43.9,-59.3C-34.5,-74.1,-17.3,-86.5,-5.7,-79.7C5.8,-72.9,11.6,-46.8,27.1,-33.1Z" transform="translate(100 100)" />
  </svg>

  <h3 class="-mt-32 -ml-16 text-xl">Your Shopping Cart</h3>

    <div *ngIf="items.length > 0; else emptyCart" class="pt-8">
      <table class="cart-table">
        <thead>
        <tr>
          <th></th>
          <th>Pet Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="cart-item" *ngFor="let item of items; let i = index">
          <td><img [src]="item.imageUrl" alt="{{ item.name }} image"/></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price.toFixed(2) }} EUR</td>
          <td>
            <button class="btn-remove mt-4 py-2 px-4 rounded-lg" (click)="removeItem(i)">
<!--              <mat-icon>delete</mat-icon>-->
              Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="cart-summary">
        <span>Total: {{ getTotalPrice().toFixed(2) }} EUR</span>
<!--        <span *ngIf="shippingCost">Shipping: {{ shippingCost.toFixed(2) }} EUR</span>-->
        <div class="button-group flex flex-wrap gap-4 mt-4">
          <button
            class="btn-clear mt-4 py-2 px-4 rounded-lg"
            (click)="clearCart()">
            Clear Cart
          </button>
          <button
            class="btn-order mt-4 py-2 px-4 rounded-lg"
            (click)="placeOrder()">
            Add To Cart
          </button>
        </div>
      </div>
      <p>
        <a routerLink="/shipping">Check Shipping Prices</a>
      </p>
    </div>

    <ng-template #emptyCart>
      <p class="mt-40">Your cart is empty. <a routerLink="/browse" class="start-shopping font-bold">Start shopping!</a></p>
    </ng-template>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#4f46e5" fill-opacity="1" d="M0,128L30,160C60,192,120,256,180,240C240,224,300,128,360,80C420,32,480,32,540,64C600,96,660,160,720,186.7C780,213,840,203,900,181.3C960,160,1020,128,1080,133.3C1140,139,1200,181,1260,176C1320,171,1380,117,1410,90.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
</div>
