.cart {
  background-color: #f2f2f2;
  border: 1px solid #4f46e5;
  border-radius: 20px;
  padding: 150px;
  margin: 100px auto;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.cart-table th,
.cart-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.cart-summary {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.cart-summary span {
  font-size: 1.2em;
  font-weight: bold;
}

.cart-item input {
  width: 60px;
  padding: 5px;
  text-align: center;
}

.cart-item button {
  margin-top: 5px;
}

.cart-item button mat-icon {
  margin-right: 5px;
}


.cart-table td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 auto;
}

.start-shopping {
  color: #4f46e5;
}
svg {
  width: 130%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.btn-clear{
  transition: transform 0.2s, background-color 0.2s;
  background-color: #d64545;
  color: white;
}

.btn-clear:hover {
  background-color: white;
  color: #d64545;
  border: 1px solid #d64545;
}

.btn-order {
  transition: transform 0.2s, background-color 0.2s;
  background-color: #54a848;
  color: #f1f5f9;
  border: 1px solid #54a848;
}

.btn-order:hover {
  background-color: #00cc48;
}

.btn-remove {
  color: #d64545;
  font-weight: bold;
}

.btn-remove:hover {
  background: none;
  color: #b64343;
}

.top-blob {
  position: fixed;
  top: 10px;
  left: 0;
  width: 500px;
  z-index: -10;
}
