<div class="bg-gray-50 shadow-md rounded-lg p-6">
  <button
    class="bg-blue-500 text-white py-2 px-4 rounded-md mb-6 hover:bg-blue-600"
    (click)="loadOrders()">
    View/Hide My Orders
  </button>
  <ng-container *ngIf="orders?.length; else noOrders">
    <div class="grid grid-cols-1 gap-6">
      <div *ngFor="let order of orders" class="bg-white shadow-md rounded-lg p-4 flex items-center">
        <div>
          <p class="text-gray-700"><strong>Order ID:</strong> {{ order.id }}</p>
          <p class="text-gray-700"><strong>Status:</strong> {{ order.status }}</p>
          <p class="text-gray-700"><strong>Price:</strong> {{ order.price }} EUR</p>
          <p class="text-gray-700"><strong>Pet Name:</strong> {{ order.pet.name }}</p>
        </div>
        <img [src]="order.pet.imageUrl" alt="{{ order.pet.name }}" class="w-16 h-16 m-8 rounded-md shadow-md">
        <div class="flex flex-col space-y-2">
          <button
            *ngIf="order.status === 'IN_PROGRESS'"
            class="bg-green-500 text-white py-1 px-3 rounded-md hover:bg-green-600"
            (click)="changeStatus(order.id, 'COMPLETED')">
            Mark as Completed
          </button>
          <button
            *ngIf="order.status === 'COMPLETED' && !order.rating"
            class="bg-yellow-500 text-white py-1 px-3 rounded-md hover:bg-yellow-600"
            (click)="openRatingDialog(order.id)">
            Rate
          </button>
          <p *ngIf="order.status === 'COMPLETED' && order.rating" class="text-gray-700">
            <strong>Your Rating:</strong> {{ order.rating }} / 5
          </p>
          <button
            *ngIf="order.status !== 'CANCELLED' && order.status !== 'COMPLETED'"
            class="bg-red-500 text-white py-1 px-3 rounded-md hover:bg-red-600"
            (click)="cancelOrder(order.id)">
            Cancel Order
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noOrders>
    <p class="text-gray-600">You have no orders.</p>
  </ng-template>
</div>
