@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.mat-drawer-container {
  background: none !important;
}



.dark-theme {
  background-color: #101129;
  color: #cdcdcd;
  mat-card {
    background-color: #471a1a !important;
    color: #cdcdcd !important;
    border: none;
    text-decoration: none;
  }
}

/* General Reset */
body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

svg {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
