@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*font-family: 'Inter', sans-serif !important;*/
  font-weight: 300 !important;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content globally */
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    #e0f2ff,
    #ede7ff);
}

button, mat-card {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.dark-theme {
  background-color: #101129;
  color: #cdcdcd;
}
