.dashboard {
  background-color: #F28705;
  border-radius: 30px;
  padding: 50px;
  text-align: center;
  margin: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
