<div class="container">
  <!-- User Details Section -->
  <div class="user-details bg-white shadow-lg rounded-lg mb-6">
    <div *ngIf="googleProfile as profile" class="flex items-center space-x-4">
      <img [src]="profile.picture" alt="Profile Picture" class="w-20 h-20 rounded-full shadow-md">
      <div class="details">
        <h2 class="text-xl font-semibold">Google User</h2>
        <p class="text-gray-700"><strong>Name:</strong> {{ profile.name }}</p>
        <p class="text-gray-700"><strong>Email:</strong> {{ profile.email }}</p>
        <p class="text-gray-700"><strong>Google ID:</strong> {{ profile.sub }}</p>
      </div>
    </div>
    <div *ngIf="userProfile" class="details space-y-2">
      <h2 class="text-xl font-semibold">Regular User</h2>
      <p class="text-gray-700"><strong>First Name:</strong> {{ userProfile.firstName }}</p>
      <p class="text-gray-700"><strong>Last Name:</strong> {{ userProfile.lastName }}</p>
      <p class="text-gray-700"><strong>Email:</strong> {{ userProfile.email }}</p>
      <p class="text-gray-700"><strong>Phone:</strong> {{ userProfile.phone }}</p>
      <p class="text-gray-700"><strong>Address:</strong> {{ userProfile.address }}</p>
    </div>
    <button
      class="mt-4 bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600"
      (click)="logOut()">
      Logout
    </button>
  </div>

  <!-- Orders Section -->
  <app-order></app-order>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5000ca" fill-opacity="1" d="M0,32L48,69.3C96,107,192,181,288,181.3C384,181,480,107,576,85.3C672,64,768,96,864,106.7C960,117,1056,107,1152,96C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>

