.container {
  border-radius: 150px;
  padding: 80px;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

button {
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  transform: scale(1.05);
  background-color: #a30000;
  color: #ffffff;
}


.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 150px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.details-section mat-card-title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #0477bf;
  margin-bottom: 10px;
}

.details p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

.logout-btn {
  margin-top: 20px;
  background-color: #d32f2f;
  color: white;
  width: 150px;
}

.mat-divider {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 10px;
  }
}

svg {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
