<div class="py-10 my-8 ">
  <!-- Search and Pagination -->
  <div class="flex flex-col md:flex-row items-center gap-6 w-full px-4">
    <!-- Search Input -->
    <div class="search-container divide-blue-500 w-full md:w-1/2">
      <input
        type="text"
        class="w-full h-12 px-4 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Search by name or breed..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="applySearch()"
      />
    </div>
    <!-- Pagination -->
    <div class="flex-grow">
      <mat-paginator
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="[10]"
        [pageIndex]="currentPage"
        (page)="onPageChange($event)"
        class="w-full h-12 px-4 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
      </mat-paginator>
    </div>
  </div>

  <!-- Pet Cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 w-full max-w-6xl px-4">
    <mat-card
      *ngFor="let pet of filteredPets"
      class="shadow-lg rounded-lg overflow-hidden transition hover:shadow-xl bg-white">
      <mat-card-header class="p-4 bg-gray-50 flex-col">
        <mat-card-title
          class="text-lg font-bold text-blue-600 hover:text-blue-800 cursor-pointer"
          routerLink="{{ '/pet/' + pet.id }}">
          {{ pet.name }}, {{ pet.age }}
        </mat-card-title>
        <p class="text-sm text-gray-600">{{ pet.breed }}</p>
      </mat-card-header>
      <img
        mat-card-image
        routerLink="{{ '/pet/' + pet.id }}"
        [src]="pet.imageUrl"
        alt="{{ pet.name }}"
        class="h-48 w-full object-cover transition-transform hover:scale-105">
      <mat-card-actions class="p-4">
        <a
          mat-button
          routerLink="{{ '/pet/' + pet.id }}"
          class="text-blue-500 font-medium hover:underline">
          <i class="fa-solid fa-up-right-from-square"></i> Details
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
